body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: green;
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}