body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 40px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: rgb(0, 41, 128);
}

input, select, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}